html {
  scroll-behavior: smooth
}

body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #141414;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subheading {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subheading {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
